/* #region header */

.reel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
}

/* header icon */
.reel-header i {
    color: white;
}

/* contenitore centrale */
.reel-nav {
    display: flex;
    gap: 13px;
}

/* stile parole */
.reel-nav a {
    position: relative;
    color: white;
    opacity: 0.5;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 8px;
    transition: opacity 0.2s;

}

/* pallino di notifica */
.reel-nav a.notifica {
    position: relative;
}

.reel-nav a.notifica::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -6px;
    width: 6px;
    height: 6px;
    background: #ff2d55;
    border-radius: 50%;
}

/* linea corta sotto la parola attiva */
.reel-nav a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60%;
    height: 3px;
    background: white;
    transform: translateX(-50%);
    border-radius: 2px;
}

/* parola attiva */
.reel-nav a.active {
    opacity: 1;
    font-weight: 600;

    .reel-nav a:hover {
        opacity: 1;
    }
}

/* #endregion header */


/* #region sidebar */

/* foto profilo */
.sidebar img {
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* bottoni sidebar */
.sidebar .side-btn {
    color: white;
    padding-top: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.side-btn i {
    font-size: 30px;
}

.side-btn span {
    font-size: 15px;
}

/* follow badge */
.profile-badge {
    position: relative;
    width: 50px;
    margin-bottom: 10px;

    .profile-badge img {
        width: 100%;
        border-radius: 50%;
    }
}


.profile-plus {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff2d55;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #endregion sidebar */