/* #region header */

.reel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
}

/* header icon */
.reel-header i {
    color: white;
}

/* contenitore centrale */
.reel-nav {
    display: flex;
    gap: 13px;
}

/* stile parole */
.reel-nav a {
    position: relative;
    color: white;
    opacity: 0.5;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 8px;
    transition: opacity 0.2s;

}

/* pallino di notifica */
.reel-nav a.notifica {
    position: relative;
}

.reel-nav a.notifica::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -6px;
    width: 6px;
    height: 6px;
    background: #ff2d55;
    border-radius: 50%;
}

/* linea corta sotto la parola attiva */
.reel-nav a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60%;
    height: 3px;
    background: white;
    transform: translateX(-50%);
    border-radius: 2px;
}

/* parola attiva */
.reel-nav a.active {
    opacity: 1;
    font-weight: 600;

    .reel-nav a:hover {
        opacity: 1;
    }
}

/* #endregion header */


/* #region sidebar */

/* foto profilo */
.sidebar img {
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* bottoni sidebar */
.sidebar .side-btn {
    color: white;
    padding-top: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.side-btn i {
    font-size: 25px;
}

.side-btn span {
    font-size: 10px;
}

/* follow badge */
.profile-badge {
    position: relative;
    width: 50px;
    margin-bottom: 10px;

    .profile-badge img {
        width: 100%;
        border-radius: 50%;
    }
}


.profile-plus {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff2d55;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #endregion sidebar */


/* #region footer */


.reel-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reel-caption {
    margin-bottom: 6px;
    margin-left: 6px
}

.reel-caption .username {
    font-weight: 700;
    font-size: 16px;
}

.reel-caption .description {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 0.5rem;
}

.reel-caption .vedi-altro {
    font-weight: 600;
}


.button-nav {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 8px 10px;
}

.nav-item {
    position: relative;
    width: 20%;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-size: 11px;
}

.nav-item i {
    /* amici-profilo */
    font-size: 22px;
    line-height: 1;
    color: white;

    /* home */
    .nav-item.active {
        color: white;
    }
}

/* pulsante new-video */
.new-video .plus {
    width: 45px;
    height: 32px;
    border-left: 5px solid #00ffff;
    border-right: 5px solid #ff0052;
    border-radius: 10px;
    background: white;
    color: black;
    text-align: center;
    font-size: 23px;
    font-weight: 900;
}

/* badge messaggi */
.inbox .badge {
    position: absolute;
    top: -8px;
    right: 25px;
    min-width: 18px;
    height: 18px;
    border-radius: 999px;
    background: #ff2d55;
    color: white;
    font-size: 11px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}